name = "halo-dl-api"
main = "src/index.js"
compatibility_date = "2022-11-10"
account_id = "0311xxxxxxxxxxxd11f01d"
r2_buckets = [
  { binding = "dl_halo_run", bucket_name = "dl-halo-run", preview_bucket_name = "" }
]

[triggers]
crons = ["*/10 * * * *"]

